/* Animazione di digitazione */
.typing {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black; /* Cambia il colore se necessario */
    }
}



body, html {
    height: 100%;
    color: black; /* Testo nero */
    background-color: white; /* Sfondo bianco */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Navbar fissa in alto */
.navbar {
    color: black; /* Testo nero */
    background-color: white; /* Sfondo bianco per la navbar */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Assicura che sia sopra gli altri elementi */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombra per dare profondità */
}

/* Stili dei link della navbar */
.navbar .nav-link {
    color: black !important; /* Testo nero per i link */
}

.navbar .nav-link:hover {
    color: #0056b3 !important; /* Colore blu al passaggio del mouse */
}

/* Link attivo */
.navbar .nav-link.active {
    background-color: #e9ecef; /* Sfondo chiaro per il link attivo */
    color: black !important; /* Testo nero per il link attivo */
    border-radius: 0.25rem; /* Angoli leggermente arrotondati */
}

/* Footer */
footer {
    background-color: #f8f9fa; /* Footer chiaro */
    color: black; /* Testo nero */
    padding: 1rem 2rem; /* Padding standard */
}

/* Card */
.card {
    background-color: #f8f9fa; /* Sfondo delle card chiaro */
    color: black; /* Testo nero */
}

.card a {
    color: black; /* Colore dei link neri */
}

.card .btn-outline-secondary {
    color: black; /* Testo nei bottoni */
    border-color: black; /* Bordo nero */
}

.card .btn-outline-secondary:hover {
    background-color: black; /* Sfondo nero al passaggio del mouse */
    color: white; /* Testo bianco al passaggio del mouse */
}

/* Aggiungi questo nel tuo style.css */
.card-body i {
    font-size: 1.5rem; /* Dimensione dell'icona */
    margin-right: 10px; /* Spazio tra le icone */
}

/* Link nel footer */
footer a {
    color: black; /* Colore nero per i link del footer */
}

/* Testi principali */
.text-body-emphasis {
    color: black !important; /* Testo principale in nero */
}


